
.content-ctn.css-animation {
  opacity: 0;
}
.content-ctn.do-animation {
  animation: slide-top 1s ease forwards;
}

@keyframes slide-top {
  from {
    opacity:0;
    transform:translate3d(0, 100px, 0);
  }
  to {
    opacity:1;
    transform:translate3d(0, 0, 0);
  }
}

.block-background-title .title-ctn {
  border:none;
  position: relative;

  &:before, &:after {
    content:"";
    display: block;
    width:0;
    height: 3px;

    position: absolute;
    transition: width 1.5s ease 0.6s;
  }
  &:before {
    left:0;
    top:-3px;
  }
  &:after {
    right:0;
    bottom:-3px;
  }
  &.do-animation {
    &:before, &:after {
      width:100%!important;
    }
  }
}

.content-rect-text {
  opacity:0;
  transition: opacity 1s ease;
  &.do-animation {
    opacity:1;
  }
}

.block-image-text .txt{
  opacity: 0;
}

.reverse .txt.do-animation{
  animation: slide-right 1s ease forwards;
}
.normal .txt.do-animation{
  animation: slide-left 1s ease forwards;
}

@keyframes slide-right {
  from {
    opacity:0;
    transform:translate3d(-100px, 0, 0);
  }
  to {
    opacity:1;
    transform:translate3d(0, 0, 0);
  }
}

@keyframes slide-left {
  from {
    opacity:0;
    transform:translate3d(100px, 0, 0);
  }
  to {
    opacity:1;
    transform:translate3d(0, 0, 0);
  }
}


.bgFixed.do-animation {
  //animation: bg-slide 3s linear infinite;

}

@keyframes bg-slide {
  from {
    transform: scale(1);
  }
  to {
    transform: scale(1.2);
  }
}