
.animate .content-ctn, .animate .content-rect-text {
  opacity: 0;
}


.do-animation.sft{
  animation-name: sft;
}
.do-animation.sfr{
  animation-name: sfr;
}
.do-animation.sfb{
  animation-name: sfb;
}
.do-animation.sfl{
  animation-name: sfl;
}

.do-animation.fadein{
  animation-name: fadeIn;
}

@keyframes sfb {
  from {
    opacity:0;
    transform:translate3d(0, 50px, 0);
  }
  to {
    opacity:1;
    transform:translate3d(0, 0, 0);
  }
}
@keyframes sft {
  from {
    opacity:0;
    transform:translate3d(0, -50px, 0);
  }
  to {
    opacity:1;
    transform:translate3d(0, 0, 0);
  }
}

@keyframes sfr {
  from {
    opacity:0;
    transform:translate3d(50px, 0, 0);
  }
  to {
    opacity:1;
    transform:translate3d(0, 0, 0);
  }
}
@keyframes sfl {
  from {
    opacity:0;
    transform:translate3d(-50px, 0, 0);
  }
  to {
    opacity:1;
    transform:translate3d(0, 0, 0);
  }
}

@keyframes fadeIn {
  from {
    opacity:0;
  }
  to {
    opacity:1;
  }
}

.block-background-title .title-ctn {
  border:none;
  position: relative;

  &:before, &:after {
    content:"";
    display: block;
    width:0;
    height: 3px;

    position: absolute;
    transition-property: width;
    //transition: width 1.5s ease 0.6s;
  }
  &:before {
    left:0;
    top:-3px;
  }
  &:after {
    right:0;
    bottom:-3px;
  }
  &.do-animation {
    &:before, &:after {
      width:100%!important;
    }
  }
}


@-webkit-keyframes moveIn {
  0% {transform:translate3d(0, -500px, 0)}
  100% {transform:translate3d(0, 0, 0)}
}
@-webkit-keyframes moveOut {
  0% {transform:translate3d(0, 0, 0)}
  100% {transform:translate3d(0, -500px, 0)}
}