.header {
    position: fixed;
    height: 60px;
    width: 100%;
    left: 0;
    top: 0;
    z-index: 100;
    transition: all 0.6s ease;

    &.retract {
        transform: translate3d(0, -100%,0);
        transition: 0.2s transform ease-out;
    }


    @include breakpoint(tab-portrait){
        height: 72px;
    }

    @include breakpoint(tab-landscape) {

    }

    &.open {
        height:100vh;
        opacity:.9!important;
    }

    &__logo {
        position: relative;
        z-index: 2;
    }

    &__top-bar {
        position: relative;
        display: flex;
        justify-content: space-between;
        align-items: center;
        height: 72px;
        z-index: 2;

        .menu-btn-ctn {
            position: absolute;
            right: 0;
            top: 50%;
            backface-visibility: hidden;
            padding: 12px 24px 12px;
            transform: translateY(-50%);
            z-index: 2;

            @include breakpoint(tab-landscape){
                display: none;
            }

        }
    }

}


.site-navigation {
    display: flex;
    justify-content: center;
    align-items: center;
    position: absolute;
    left: -2000px;
    top: 0;
    z-index: 100;
    width: 100%;
    height: 100vh;
    text-align: center;
    transition: opacity 0.6s ease;
    z-index: 1;
    opacity: 0;

    &.show {
        left: 0;
        opacity: 1;
    }
    &.grow-mid {
        .menu-item:after {
            margin: auto;
        }

    }
    &.grow-right {
        .menu-item:after {
            margin-left: auto;
        }
    }
    @include breakpoint(tab-landscape) {
        height: auto;
        opacity: 1;
        display: flex;
        position: relative;
        left: auto;
        top: auto;
        padding-bottom: 6px;
    }


    .menu {
        position: relative;
        z-index: 2;

        @include breakpoint(tab-landscape) {
            height: 72px;
            display: flex;
            justify-content: center;
            align-items: center;
            flex: 0 1 100%;
        }

        .lang-item {
            display: inline-block;
            border-radius: 50%;
            padding: 0;
            width: 35px;
            height: 35px;
            margin-top: 12px;

            @include breakpoint(tab-portrait){
                width: 55px;
                height: 55px;
                margin-top: 18px;
            }

            @include breakpoint(tab-landscape){
                margin: 0;
                width: 45px;
                height: 45px;
                position: absolute;
                right: 0;
            }

            &:after {
                display: none;
            }

            a {
                position: absolute;
                left:50%;
                top:50%;
                transform: translate(-50%, -50%);
                padding: 10px;
                display: block;
                margin-top: 0;
            }

        }
    }


    .menu-item {
        padding: 10px 0;
        list-style: none;
        position: relative;

        @include breakpoint(tab-portrait){
            padding: 20px 0;

        }
        @include breakpoint(tab-landscape) {
            padding: 0;
            margin: 0 20px;
        }

        &.current-menu-item {
            &:after {
                bottom: 15px;
                width: 100%;
            }
        }
        @include breakpoint(tab-landscape) {
            &:after {
                content: "";
                display: block;
                position: relative;
                width: 0;
                height: 2px;
                bottom: 15px;
                transition: width 0.6s ease;
            }

            &:hover:after {
                width: 100%;
            }
        }

        a {
            margin-top: 6px;
            display: block;
            @include breakpoint(tab-portrait) {
                font-size: 24px;
                margin-top: 8px;


            }
            @include breakpoint(tab-landscape) {
                font-size: 16px;
                display: block;
                padding: 20px 0;
            }

        }
    }

}

.menu {
    .menu-item-has-children {
        display: block;
        position: relative;

        & a:after {
            content: "";
            position: absolute;
            right: -40px;
            border-radius: 50%;
            width: 25px;
            height: 25px;
            padding-top: 1px;

            @include breakpoint(tab-portrait){
                width: 35px;
                height: 35px;
                padding-top: 0;
            }

            @include breakpoint(tab-landscape) {
                display: none!important;
            }
        }
        & a:before {
            content: "+";
            position: absolute;
            right: -33px;
            top:18px;
            width: 10px;
            height: 10px;
            font-size: 16px;

            @include breakpoint(tab-portrait){
                right: -26px;
                top:31px;
                font-size: 18px;
            }

            @include breakpoint(tab-landscape) {
                display: none!important;
            }
        }

        &:hover > .sub-menu {
            @include breakpoint(tab-landscape) {
                visibility: visible!important;
                opacity: 1!important;
                max-height: 1000px!important;
            }
        }
    }

    .sub-menu {
        max-height: 0;
        overflow: hidden;
        padding: 0;
        z-index: 10;

        @include breakpoint(tab-landscape) {
            max-height: none;
            overflow: visible;
            position: absolute;
            visibility: hidden;
            opacity: 0;
            left: -15px;
            top: 65px;
            min-width: 270px;
            padding: 12px 0;
            border-bottom: none;

        }

        &:hover {
            @include breakpoint(tab-landscape) {
                visibility: visible!important;
                opacity: 1!important;

            }
        }

        .menu-item {
            padding:0;
            &:after {
                display: none;
            }

            @include breakpoint(tab-landscape) {
                text-align: left;
                padding-left: 16px;
                margin: 0;
            }

            &:after {
                content: "";
            }

            a {
                padding: 10px;
                border-bottom: none;
                &:after {
                    display: none!important;
                }
            }
        }

        .menu-item {
            transition: opacity 0.3s ease;
        }

        .menu-item:first-of-type {
            @include breakpoint(tab-landscape) {
                margin-top: 0;
                border: none!important;
            }
        }

        .menu-item:last-of-type {
            @include breakpoint(tab-landscape) {
                border: none!important;
            }
        }
    }
}

.open-sub-menu {
    max-height: 1000px!important;
    opacity: 1!important;
    visibility: visible!important;
    margin-top: 15px;
    transition: all .6s linear;
    .menu-item {
        opacity: 1!important;
    }

    .menu-item:first-of-type {
        border-top: 1px solid transparent;
    }

    .menu-item:last-of-type {
        border-bottom: 1px solid transparent;
    }
}
