

.text h1 {
    margin-bottom: 16px;
}
.text h2 {
    margin-bottom: 12px;
}
.text h3 {
    margin-bottom: 8px;
}
.text h4 {
    margin-bottom: 4px;
}

.bold {
    font-weight: 700;
}
.semi-medium {
    font-weight: 600;
}
.medium {
    font-weight: 500;
}
.light {
    font-weight: 300;
}
