.hideMe {
  display:none!important;
}

.body-no-overflow {
  overflow:hidden;
}

.alignCenter {
  text-align: center;
}

.alignRight {
  text-align: right;
}

.alignLeft {
  text-align: left;
}

.centerEle{
  margin:0 auto;
}

.reverseMe {
  @media (min-width: $screen-sm-min) {
    @include flex-direction(row-reverse);
  }
}

.mobile {
  @media (min-width: $screen-sm-min) {
    display: none;
  }
}

.tablet {
  display: none;
  @media (min-width: $screen-sm-min) {
    display: block;
  }
}

.hide-in-desktop {
  @media (min-width: $screen-lg-min) {
    display: none;
  }
}

.show-in-desktop {
  display: none;
  @media (min-width: $screen-lg-min) {
    display: block;
  }

}

.noPadding {
  padding:0!important;
}

.bgCover {
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
}

.bgFixed {
  background-attachment: fixed;
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
}


$easeInOutExpo : cubic-bezier(1, 0, 0, 1);
$easeInExpo : cubic-bezier(0.95, 0.05, 0.795, 0.035);
$easeOutExpo : cubic-bezier(0.19, 1, 0.22, 1);

$fullwidth : 1920;
@function get-vw($target) {
  $vw-context: ($fullwidth * 0.01) * 1px;
  @return ($target / $vw-context) * 1vw;
}


@mixin background-opacity($color, $opacity: 0.3) {
  background: $color; /* The Fallback */
  background: rgba($color, $opacity);
}