.woo-page {

  border: 1px solid red;
  padding-top: 100px;
  padding-bottom: 50px;

  .woocommerce-products-header__title, .product_title {
    padding:12px 0 6px 0;
  }

  .woocommerce-ordering {
    padding:12px 0;
  }

  .price {
    display: block;
    padding:10px 0 5px 0;
  }

  .quantity {
    margin:10px 0;
  }
  .button {
    margin:10px 0;
    display: block;

  }
  table.shop_table_responsive tr td.product-remove a {
    text-align: center;
  }

.products {

.product {

  .woocommerce-loop-product__title {
    padding-top: 12px;
  }
  img {
    object-fit: cover;
    width:100%;
  }

}
}

}