.socials {
    display: block;
    &__title {
        display: block;
    }
    &__wrapper {
        display: flex;
        justify-content: center;
        @include breakpoint(tab-landscape){
            justify-content: flex-start;
        }
    }
    &__link {
        padding: 5px 10px;
        transition: opacity 0.3s ease;
        &:first-of-type{
            padding-left: 0;
        }
        &:hover {
            opacity: 0.6;
        }

        i {
            font-size: 20px;
        }
    }
}
