
/***** À MODIFIER ****/ /***** À MODIFIER ****/
$assets: '/content/themes/maximus/dist';
/***** À MODIFIER ****/ /***** À MODIFIER ****/

$easeInOutExpo : cubic-bezier(1, 0, 0, 1);
$easeInExpo : cubic-bezier(0.95, 0.05, 0.795, 0.035);
$easeOutExpo : cubic-bezier(0.19, 1, 0.22, 1);

/*==========  Mobile First Method  ==========*/

/* Custom, iPhone Retina */
/* Small Devices, Tablets */
$screen-sm-min: 576px;

/* Medium Devices, Desktops */
$screen-md-min: 768px;

/* Large Devices, Wide Screens */
$screen-lg-min: 992px;

// Extra large devices (large desktops, 1200px and up)
$screen-xl-min: 1200px;

// Extra Extra large devices (desktops, 1440px and up)
$screen-xxl-min: 1440px;


$fullwidth-min: 1920px;
$fullwidth: 1920;


$phone-min: 375px;

$tablet-portrait-min: 768px;

$tablet-landscape-min: 992px;

$desktop-min: 1200px;

$desktop-large-min: 1440px;
