
article{
  .content {
      padding:25px 15px;
      @include breakpoint(tab-portrait) {
        padding:50px 15px;
      }
      .date {
        font-size: 0.8rem;
        font-weight:700;
      }
      h2 {
        font-size: 1.2rem;
        margin:10px 0 15px;
        line-height: 1.4rem;
      }

    p {
      font-size:1rem;
    }
    img {
      max-width: 100%;
      height: auto;
      margin:15px 0;
    }
    .link {
      margin-top:25px;
      font-size:0.8rem;
      display: block;
    }

  }
}
