
.block-background-title{
  position: relative;
  .background-ctn {
    height:650px;
  }
  .title-ctn {
    @include center-img(50%, 50%);
    width:60%;
    padding:20px 15px;
    text-align: center;
    z-index: 5;

    h2 {
      font-size: 35px;
      @include breakpoint(tab-landscape) {
        font-size: 70px;
      }
    }
  }

  .img-ctn {
    max-height:600px;
    overflow: hidden;
    img {
      width:100%;
    }
  }
}