.block-background-text {
  position: relative;

  .background-ctn {

    display:flex;
    @include justify-content(center);
    @include align-items(center);

    height:450px;


    z-index: 1;
    @media(min-width: $screen-md-min) {
      height:850px;
    }

  }
  .wysywyg-ctn {
    display: inline-block;
    z-index: 5;
  }

}