.block-counter {
    .content {
    text-align: center;
    }
    .title {
        margin-bottom: 6rem;
    }
    .counters {
        display: flex;
        flex-wrap:wrap;
        justify-content: center;
        @include breakpoint(tab-portrait){
            display: flex;
            //flex-wrap:wrap;
            justify-content: center;
        }
        border:1px solid red;
    }
    .counter {
        text-align: center;
        padding:2% 1%;
        margin-bottom: 5rem;
        flex: 0 1 47%;

        @include breakpoint(tab-portrait){
            flex: 0 1 50%;
        }
        @include breakpoint(desktop){
            flex: 0 1 24%;
            margin-bottom: 0;
        }

        &:last-of-type {
            border-right: none;
        }
        &__things {
            display: block;
            font-weight: bold;
            margin-bottom: 2rem;
            font-size: 3rem;
            @include breakpoint(tab-landscape){
                font-size: 4rem;
                margin-bottom: 3rem;
            }
        }
        &__title {
            display: block;
             font-size: 1.5rem;
             line-height: 2.3rem;

        }
    }

}
