.block-counter {
    .content {
    text-align: center;
    }
    .title {
        margin-bottom: 6rem;
    }
    .counters {
        @include breakpoint(tab-portrait){
            display: flex;
            flex-wrap:wrap;
            justify-content: center;
        }

    }
    .counter {
        text-align: center;
        padding:2% 1%;
        margin-bottom: 5rem;
        @include breakpoint(tab-portrait){
            flex: 0 1 50%;
        }
        @include breakpoint(tab-landscape){
            flex: 0 1 25%;
            margin-bottom: 0;            
        }
        &:last-of-type {
            border-right: none;
        }
        &__things {
            display: block;
            font-weight: bold;
            margin-bottom: 2rem;
        }
        &__title {
            display: block;

        }
    }

}
