.portfolio {
  position: relative;
  width: 100%;
  font-size: 0;
  background-color: #efefef;

  h2 {
    text-align: center;
    margin-bottom: 30px;
  }

  .description {
    text-align: center;
    margin-bottom: 50px;
    line-height: 24px;
  }

  .item {
    position: absolute;
    width: calc(100% / 2);
    cursor: pointer;
    overflow: hidden;
    
    .line {
      display: none;
    }

    @include breakpoint(tab-portrait) {
      width: calc(100% / 3);
    }

    @include breakpoint(desktop) {
      &:before {
        content: attr(data-title);
        padding: 0px 20px;
        position: absolute;
        top: 0;
        left: 0;
        height: 100%;
        width: 100%;
        background: #00000059;
        color: white;
        display: flex;
        justify-content: center;
        align-items: center;
        font-size: 16px;
        text-align: center;
        transform: translate3d(0, 100%, 0);
        transition: 0.6s transform $easeOutExpo;
        z-index: 1;
      }
  
      &:hover {
        img {
          transform: scale(1.1);
          transition: 20s transform $easeOutExpo;
        }

        &:before {
          transition: 0.6s transform $easeOutExpo;
          transform: translate3d(0, 0, 0);
        }

        .line {
          &.line--top, &.line--right, &.line--bottom, &.line--left {
            transform: translate3d(0, 0, 0);
            transition: 0.6s transform $easeOutExpo;
          }
        }

      }
      
      .line {
        display: block;
        position: absolute;
        z-index: 2;

        &.line--top {
          top: 0;
          left: 0;
          height: 6px;
          width: 100%;
          background-color: white;
          transform: translate3d(-100%, 0, 0);
          transition: 0.6s transform $easeOutExpo;
        }

        &.line--bottom {
          bottom: 0;
          left: 0;
          height: 6px;
          width: 100%;
          background-color: white;
          transform: translate3d(100%, 0, 0);
          transition: 0.6s transform $easeOutExpo;
        }

        &.line--left {
          top: 0;
          left: 0;
          height: 100%;
          width: 6px;
          background-color: white;
          transform: translate3d(0, 100%, 0);
          transition: 0.6s transform $easeOutExpo;
        }

        &.line--right {
          bottom: 0;
          right: 0;
          height: 100%;
          width: 6px;
          background-color: white;
          transform: translate3d(0, -100%, 0);
          transition: 0.6s transform $easeOutExpo;
        }
      }


    }

    img {
      width: 100%;
      transform: scale(1);
      transition: 1s transform $easeOutExpo;
    }
  }

}