.block-image-text {
  position: relative;
  .content {
    max-width:none;
    @include breakpoint(tab-landscape){
        display: flex;
        justify-content: space-between;
        align-items:center;

    }
    &.reverse {

      flex-direction: row-reverse;
    }
    &  > div {
      flex: 0 1 50%;
    }

    &.image-75 {

      @include breakpoint(tab-landscape){
        text-align: right;
      }
      & > div:first-of-type {
        flex: 0 1 60%;
      }
      & > div:last-of-type {
          flex: 0 1 40%;
      }
    }
    &.text-75 {
      & > div:first-of-type {
        flex: 0 1 40%;
      }
      & > div:last-of-type {
        flex: 0 1 60%;
      }
    }
    .image-ctn {
      height:400px;
      width:100%;

      @include breakpoint(tab-landscape){
        width:50%;
        height:500px;
      }
    }
    .wysywyg-ctn {
      background-color: transparent;
      @include breakpoint(tab-landscape){
        padding:0;
      }
      .txt {
        padding:5% 8%;
      }
    }
  }
}
