.block-image-text {
    position: relative;

    .content {
        max-width: none;
        min-height:300px;
        @include breakpoint(tab-landscape) {
            display: flex;
            justify-content: space-between;
            align-items: center;
        }

        &.reverse {
            flex-direction: row-reverse;
        }

        & > div {
            flex: 0 1 50%;
        }
        &.boxed {
            max-width:1080px;
            @include breakpoint(tab-landscape){
                padding-top: 8%;
                padding-bottom: 8%;
                justify-content: center;
            }

            .block-image-text__text {

                @include breakpoint(tab-landscape){                    
                    z-index: 2;
                    margin-left: -5%;
                }
            }
            .cta-ctn {
                @include breakpoint(tab-landscape){
                    text-align: right;
                }
            }
        }
        &.boxed.reverse {
            .block-image-text__text {
                @include breakpoint(tab-landscape){
                    margin-right: -5%;
                }
            }
            .cta-ctn {
                @include breakpoint(tab-landscape){
                    text-align: left;
                }
            }
        }
        &.image-75 {
            @include breakpoint(tab-landscape) {
                text-align: right;
            }

            & > div:first-of-type {
                flex: 0 1 60%;
            }

            & > div:last-of-type {
                flex: 0 1 40%;
            }
        }

        &.text-75 {
            & > div:first-of-type {
                flex: 0 1 40%;
            }

            & > div:last-of-type {
                flex: 0 1 60%;
            }
        }
    }

    &__slider {
        position: relative;
        height: 300px;
        width: 100%;
        background-size: cover;
        height: 50vh;
        min-height:300px;
        @include breakpoint(tab-landscape) {
            width: 50%;
            height: 70vh;
            min-height:500px;
        }

        &-slide {
            position: absolute;
            left: 0;
            top: 0;
            width: 100%;
            height: 100%;
            background-size: cover;
            background-position: center;
            opacity: 0;
            z-index: 1;
            transition: opacity 0.6s ease-out;
            &.active {
                opacity: 1;
                z-index: 2;
            }
        }
    }

    .carrousel-nav {
        position: absolute;
        bottom: 10px;
        left: 50%;
        transform: translateX(-50%);
        z-index: 3;
        width: 90%;

        &__menu {
            display: flex;
            justify-content: center;
            align-items: center;
        }

        &__item {
            position: relative;
            list-style: none;
            margin: 0 5px;
        }

        &__button {
            cursor: pointer;
            width: 20px;
            height: 20px;
            background-color: white;
            opacity: 0.5;
            border: none;
            border-radius: 3px;
        }

        &__item.active button {
            opacity: 1;
        }
    }

    &__text {
        height: 100%;
        padding: 6%;
        @include breakpoint(tab-landscape){
            padding: 4%;
        }
        .txt {

        }
    }
}
