.block-instagram {
  .hashtag-title {
    padding-top:12px;
    padding-bottom: 8px;
    @include breakpoint(tab-landscape) {
      padding-top:24px;
      padding-bottom: 16px;
    }
  }
}


#wdi_feed_0 {
  background-color:transparent!important;

}

//Enlever la petite bare blanche sous les images du instagram feed
.sbi_owl-theme .sbi_owl-controls {
  margin-top: 0;
}

.sb_instagram_header {
  padding-right: 0!important;
  padding-left: 0!important;
}