.block-open-form {
    position: relative;

    .content-ctn {
        @include breakpoint(tab-landscape) {
            display: flex;
            justify-content: space-between;
            align-items: center;
        }
    }

    .text {
        margin-bottom: 25px;

        @include breakpoint(tab-landscape) {
            margin-bottom: 0;
            margin-right: 4%;
            flex:0 1 70%;
        }
    }

    .cta {
        display: block;
        min-width: 200px;
        margin: auto;
        text-align: center;
        padding: 15px 40px;
        @include breakpoint(tab-landscape) {
            margin: 0;
            flex:0 1 30%;
        }

        &:last-of-type {
            margin-top: 25px;
        }
    }
}
