.portfolio {
  position: relative;
  width: 100%;
  font-size: 0;
  background-color: #efefef;

  h2 {
    text-align: center;
    padding: 20px 0;
  }

  .description {
    text-align: center;
    margin-bottom: 20px;
    line-height: 24px;
  }

  .item {
    position: absolute;
    width: calc(100% / 2);
    cursor: pointer;
    overflow: hidden;

    @include breakpoint(tab-portrait) {
      width: calc(100% / 3);
    }

    @include breakpoint(desktop) {

      &:before {
        content: attr(data-title);
        padding: 0px 20px;
        position: absolute;
        top: 0;
        left: 0;
        height: 100%;
        width: 100%;
        background: #00000059;
        color: white;
        display: flex;
        justify-content: center;
        align-items: center;
        font-size: 16px;
        text-align: center;
        transform: translate3d(0, 100%, 0);
        transition: 0.6s transform $easeOutExpo;
      }
  
      &:hover {

        &:before {
          transition: 0.6s transform $easeOutExpo;
          transform: translate3d(0, 0, 0);
        }
      }      
    }

    img {
      width: 100%;
    }
  }

}