.block-background-text {
  position: relative;

  .background-ctn {
    height:850px;
    background-attachment: fixed;
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    z-index: 1;
  }
  .wysywyg-ctn {
    @include center-img(50%, 50%);
  }

}