.block-image-text {
  position: relative;
  .content-ctn {
    max-width:none;
    @media(min-width: $screen-lg-min){
      @include flexbox();
      @include align-items(center);
      @include justify-content(space-between);
    }
    &.reverse {
      @include flex-direction(row-reverse);
    }
    &  > div {
      @include flex-basis(50%);
    }
    &.image-75 {
      & > div:first-of-type {
        @include flex-basis(60%);
      }
      & > div:last-of-type {
        @include flex-basis(40%);
      }
    }
    &.text-75 {
      & > div:first-of-type {
        @include flex-basis(40%);
      }
      & > div:last-of-type {
        @include flex-basis(60%);
      }
    }
    .image-ctn {
      height:400px;
      width:100%;
      @media(min-width: $screen-lg-min){
        width:50%;
        height:650px;
      }
    }
    .wysywyg-ctn {
      background-color: transparent;
      @media(min-width: $screen-lg-min){
        padding:0;
      }
      .txt {
        padding:5% 8%;
      }
    }
  }
}