//TEMPLATE FOR PAGE: RESTAURANT - POTAGER - RUCHE
#about-content, #your-event-content {

  .section01-ctn {
    position: relative;
    height:850px;

    background-repeat: no-repeat;
    background-size: cover;
    background-position: 43% 50%;
    background-color: $light-grey;
    z-index: 1;
    .content-rect-text {
      @include center-img(50%, 50%);
    }

    .herbe-bg {
      width:100%;
      position: absolute;
      left:0;
      bottom:0;
      z-index: 10;
    }
  }


    .middle-text-ctn {
      @media (min-width: $screen-lg-min) {
        @include flexbox();
        @include align-items(center);
      }
    }
    .logo-ctn {
      margin-bottom: 30px;
    }
    .content-text {
      max-width:700px;
    }


  .section03-ctn {

    .img-ctn {
      background-repeat: no-repeat;
      background-size: cover;
      background-position: center;
      height:600px;
      @media (min-width: $screen-lg-min) {
        height:600px;
      }
    }
  }



}//ABOUT CONTENT END


#your-event-content {
  .section03-ctn {
    background-color: $light-grey;
    .img-ctn {
      img {
        width:100%;
      }
    }
    .section-content {
      max-width:700px;
      margin:auto;

      @media (min-width: $screen-lg-min) {
        max-width:1080px;
        @include flexbox();
        @include justify-content(space-between);
      }
      .content-text {
        margin-bottom:25px;

        @media (min-width: $screen-lg-min) {
          margin-bottom:0;
        }
      }
      .link-ctn {
        @media (min-width: $screen-lg-min) {
          @include flexbox();
          @include flex-direction(column);
          @include justify-content(space-between);
          a {
            margin:0;
          }
        }
      }

      /*.cta {
        display: block;
        width:200px;
        color:$grey;
        margin:auto;
        text-align: center;
        padding: 15px 40px;
        border: 1px solid $icon;
        @include transition(all 0.6s ease);
        &:last-of-type {
          margin-top:25px;
        }
        &:hover {
          color:white;
          background-color: $icon;
          border: 1px solid white;
        }
      }*/
    }

  }
}

