#contact-content {
  .form-wrapper {

    @include breakpoint(tab-landscape) {
      display: flex;
      width: 90%;
      margin: auto;
    }
    @include breakpoint(tab-landscape) {
      width: 100%;
    }
  }
  .form-title {
    width: 80%;
    margin: auto;
    margin-top: 30px;

    @include breakpoint(tab-landscape) {
      width: 50%;
      @include flex-basis(45%);
      margin-top: 50px;
    }

    h2 {
      margin-bottom: 15px;
      @media(min-width: $screen-xl-min){
        margin-bottom: 30px;
      }
    }

  }
  .form-ctn {
    @include breakpoint(tab-landscape) {
      width: 50%;
      @include flex-basis(45%);
    }

    input[type="submit"] {
        display: block;
        max-width:200px;
        margin-left:auto;
        margin-right:auto;
    }

  }

}
