.news-inner {
  position: relative;
  .all-news-ctn {
    margin:50px 0;
    @media (min-width: $screen-md-min) {
      max-width:1200px;
      margin:auto;
    }
    @media (min-width: $screen-lg-min) {
      margin:100px auto;
    }
    .news-ctn {

      padding:25px 15px;
      border-bottom: 2px solid $grey;
      @media (min-width: $screen-md-min) {
        @include flexbox();
        @include justify-content(space-between);
      }

      .news-text {
        @media (min-width: $screen-md-min) {
          @include flex-basis(60%);
        }
        .date {
          font-size: 0.7rem;
          font-weight:700;
          //color:$grey;
        }
        h2 {
          margin:10px 0 15px;
        }
        a {
          //color:$grey;
          font-weight:700;
        }

        .excerpt {
          font-size: 1rem;
          //color:$grey;
          margin-bottom:10px;
          line-height: 1.2rem;
        }

        .link {
          font-size:0.8rem;
          //color:$icon;
        }
      }
      .thumbnail-ctn {
        display: none;
        @media (min-width: $screen-md-min) {
          display: block;
          @include flex-basis(30%);
          text-align: center;
          .img-ctn {
              position: relative;
              border-radius: 50%;
              width:190px;
              height:190px;
              overflow: hidden;
              background-size: cover;
              background-position:center;


          }

        }
      }
    }

  }
}

.single-news-inner, .single-event-inner {

  padding:25px 15px;
  @media (min-width: $screen-md-min) {
    padding:50px 15px;
  }
  .news-content {
    @media (min-width: $screen-md-min) {
      margin:auto;
      max-width:1200px;
    }
  }

  .date {
    font-size: 0.8rem;
    font-weight:700;
  }
  h2 {
    font-size: 1.2rem;
    margin:10px 0 15px;
    line-height: 1.4rem;
  }
  .content {

    p {
      font-size:1rem;
    }
    img {
      max-width: 100%;
      height: auto;
      margin:15px 0;
    }
    a {
      //color:$icon;
    }
  }
  .link {
    margin-top:25px;
    font-size:0.8rem;
   // color:$icon;
    display: block;
  }

}