
.main-nav-outer {
  height:60px;
  position: absolute;
  width:100%;
  left:0;
  top:0;
  z-index:100;
  background-color: transparent;
  @include transition(all 0.8s ease);
  @media(min-width: $screen-xl-min){
    height:80px;
  }
}

.top-bar-outer {
  @media (min-width: $screen-lg-min) {
    display: none;
  }
  .top-bar-inner {
    @include flexbox();
    @include justify-content(space-between);
    @include align-items(center);
    padding-top:10px;
    padding-bottom:10px;
    position: relative;
    @media(min-width: $screen-xl-min){
      padding-top:20px;
      padding-bottom:20px;
    }
  }

  .bg-color {
    position: absolute;
    left:0;
    top:0;
    width:100%;
    height:100%;
    z-index: 1;
  }

  .logo-ctn {
    display: none;
    z-index: 5;
    max-height:50px;
    a {
      display: block;
      position:relative;
      height: 100%;

    }
    .logo {
      width:100%;
    }
  }

}

.lang {
  position: relative;
  z-index: 2;
  width:35px;
  height:35px;
  @include border-radius(100%);
  &.desktop {
    display: none;
    @media(min-width: $screen-xl-min){
      display: block;
    }
  }
  li {
    list-style: none;
    width:100%;
    height:100%;
    position: relative;

  }
  a {
    padding:10px;
    @include center-img(50%, 50%);
    color:white;
    display: block;
    font-size: 12px;
    text-decoration: none;
    text-transform: uppercase;

  }
  @media (min-width: $screen-xl-min) {
    position: absolute;
    right:15px;

  }

}


.nav {
  position: absolute;
  left:-2000px;
  top:100px;
  z-index: 100;
  width:100%;
  text-align: center;
  @include transition(left 0.6s ease);

  @media (min-width: $screen-lg-min) {
    @include flexbox();
    position: relative;
    left:auto;
    top:auto;
  }

  .nav-wrapper {
    position: relative;
    @media (min-width: $screen-lg-min) {

      @include flexbox();
      @include justify-content(center);
      @include flex-basis(100%);
      @include align-items(center);
    }
    .bg-color {
      display: none;
      position: absolute;
      left:0;
      top:0;
      width:100%;
      height:100%;
      z-index: 1;
      @media(min-width: $screen-lg-min){
          display: block;
      }
    }

    .menu {
        position: relative;
        z-index: 2;
      @media (min-width: $screen-lg-min) {
        @include flexbox();
        @include flex-basis(80%);
        @include justify-content(center);
      }

      a {
        @media (min-width: $screen-md-min) {
           font-size: 2rem;
        }
        @media (min-width: $screen-lg-min) {
          font-size: 1rem;

        }
    }

    }
    .logo-ctn {
      display: none;
      z-index: 2;
      @media (min-width: $screen-lg-min) {
        display: block;
        position: absolute;
        left:30px;
        top:16px;
        a {
          display: block;
          position:relative;
          height: 100%;
        }
        img {
          width:100%;
        }
      }

    }
  }
  .menu-item {
    padding:10px 0;
    list-style: none;
    position: relative;
    cursor: pointer;
    @media (min-width: $screen-lg-min) {
      padding:25px 0;
      margin: 0 20px;
    }
    @media (min-width: $screen-xxl-min) {
      margin: 0 35px;
    }

    &.current-menu-item  {
      &:before {
        bottom:15px;
        width:100%;
      }
    }
    @media (min-width: $screen-lg-min) {
      &:before {
        content:"";
        display: block;
        position: absolute;
        width: 0;
        height: 2px;
        background-color:red;
        bottom:15px;
        transition:width 0.6s ease;

      }
      &:hover:before {
        bottom:15px;
        width:100%;
      }
    }
    a {
      display: block;
    }

  }

  .nav-logo {
    .logo {
      display: none;
      margin:auto;
    }
  }

  .link-reservation {
    font-weight: 700;
  }
}

.open-nav {
  background-color: $dark-grey;
  z-index:100;
  height:100vh;
  @include transition(height 0.8s ease);
  .top-bar-outer {
    background-color: rgba(0, 0, 0, 0);
  }
  .logo-ctn {
    display: block;
    @include center-img(50%, 50%);
    .logo {
      display: block;
    }
  }

  .nav {
    left: 0!important;
  }
}
.moveIn {
  animation: moveIn 0.6s ease forwards;
}
.moveOut {
  animation: moveOut 0.6s ease forwards;
}
.sticky {

  position: fixed;
  top:0;
  left:0;
  width:100%;
  animation: moveIn 0.6s ease forwards;


  .top-bar-outer {
    opacity:1!important;
    @include box-shadow(0px, 2px, 12px, 0px, rgba(0,0,0,0.2));
  }
  .bg-color {
    opacity:1!important;
  }

  .nav {
    @media (min-width: $screen-lg-min) {
      background-color: white;
      @include box-shadow(0px, 2px, 12px, 0px, rgba(0,0,0,0.2));
      .nav-logo {
        display: block;

      }
      .menu-item {

        @media (min-width: $screen-lg-min) {
          margin:0 20px;
        }
        @media (min-width: $screen-xxl-min) {
          margin:0 30px;
        }
        a {
          @include transition(color 0.25s ease);
        }
      }
    }
  }

  .menu-main-nav-left-container, .menu-main-nav-left-en-container {
    @media (min-width: $screen-lg-min) {
      margin-right:0!important;
    }

  }


  .logo-ctn {
    display: block;
    .logo.black {
      display: block;
      max-width:70px;
    }
    .logo.white {
      display: none;
    }
  }

}

.menu {

  .menu-item-has-children {
    display: block;
    position: relative;

    & a:after {
      content:"+";
      position: absolute;
      right:15%;
      border-radius: 50%;
      padding:2px 5px;

      @media (min-width: $screen-lg-min) {
        display: none!important;

      }

    }
    &:hover > .sub-menu {

      @media (min-width:$screen-lg-min){
        visibility: visible!important;
        opacity: 1!important;
        max-height: 1000px!important;
      }

    }
  }

  .sub-menu {
    max-height:0;
    overflow: hidden;
    padding:0;
    z-index: 10000;
    transition: all 0.6s ease;


    @media (min-width:$screen-lg-min){
      background-color: rgba(0,0,0,.6);
      max-height:none;
      overflow: visible;
      position: absolute;
      visibility: hidden;
      opacity: 0;
      left: -15px;
      top: 65px;
      min-width: 270px;
      padding: 25px 0;
      border-bottom: none;
    }

    &:hover {
      @media (min-width:$screen-lg-min){
        visibility: visible!important;
        opacity: 1!important;
        max-height: 1000px!important;
      }
    }
    &:hover + a {
      @media (min-width:$screen-lg-min){
        //border-bottom: 1px solid white;
      }

    }
    .menu-item {
      padding:10px;
      &:before {
        display: none;
      }
      @media (min-width:$screen-lg-min){
        text-align: left;
        padding-left:30px;
        margin:0;
      }

      &:after {
        content:"";
      }

      a {
        padding:0;
        border-bottom: none;
        transition: all 0.3s ease;
        &:after {
          display: none!important;
        }
      }
    }
    .menu-item {
      @include transition(opacity 0.3s ease);
    }
    .menu-item:first-of-type {
      @media (min-width:$screen-lg-min){
        margin-top:0;
        border:none!important;
      }
    }
    .menu-item:last-of-type {
      @media (min-width:$screen-lg-min){
        border:none!important;
      }
    }

  }
}


.open-sub-menu {

  max-height:1000px!important;
  opacity:1!important;
  visibility: visible!important;
  margin-top:15px;
  .menu-item {
    opacity: 1!important;
  }
  .menu-item:first-of-type {
    border-top: 1px solid transparent;
  }
  .menu-item:last-of-type {
    border-bottom: 1px solid transparent;
  }
}


//.menu-main-nav-container, .menu-main-nav-en-container, .menu-main-nav-fr-container, .nav .menu {
//  position: relative;
//  z-index: 2;
//}
